.container{
    width:960px;
    margin-top:60px;
    margin-left:auto;
    margin-right:auto;
}

.dash_left{
    position:fixed;
    width:180px;
    float:left;
    margin-top:10px;
    border-radius:10px;
}

.dash_left .user_dash{
    width:100%;
    border-radius:10px;
    overflow:hidden;
    background-color:rgba(250, 250, 250, 1);
}

.user_dash .user_profile{
    width:100%;
    height:105px;
    margin-top:5px;
}
.user_profile .user_gravatar{
    width:100px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    border-radius:100px;
    overflow:hidden;
    background-color:rgba(100, 100, 100, 0.2);
}

.user_gravatar img{
    height:100px;
    width:100px;
}

.user_dash .u_info{
    width:100%;
}

.u_info .user_name{
    width:100%;
    height:40px;
    font-size:18px;
    line-height:30px;
    text-align:center;
    cursor:pointer;
    border-bottom-color:rgba(100, 100, 100, 0.4);
    border-bottom-width:1px;
    border-bottom-style:solid;
}

.user_name:hover{
    color:#476dd5;
}
.u_info .u_num{
    width:100%;
    height:40px;
    font-size:15px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgba(100, 100, 100, 0.4);
}

.u_num .dot_num{
    float:left;
    height:40px;
    width:48%;
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:rgba(100, 100, 100, 0.4);
    cursor:pointer;
}

.dot_num div{
    width:100%;
    height:19px;
}

.dot_num:hover{
    color:#476dd5;
}
.u_num .desc{
    font-size:12px;
}

.u_num .friend_num{
    float:right;
    height:40px;
    width:48%;
    cursor:pointer;
}

.friend_num div{
    width:100%;
    height:19px;
}

.friend_num:hover{
    color:#476dd5;
}


.dash_user_nav{
    width:100%;
    list-style:none;
    margin-left:0;
    margin-bottom:0;
}

.dash_left li{
    width:100%;
    height:40px;
    line-height:40px;
    text-align:left;
    cursor:pointer;
    border-bottom-color:rgba(150, 150, 150, 0.4);
    border-bottom-style:solid;
    border-bottom-width:1px;
}

.dash_user_nav > li:last-child{
    border-bottom:none;
}

.dash_left li:hover{
    background-color:rgb(240, 240, 240);
}

.dash_left li:hover .icon-chevron-right{
    opacity:0.6;
}

.dash_left li i{
    float:right;
    margin-top:15px;
    opacity:.25;
}

.dash_left li a{
    margin-left:10px;
    color:black;
}

.dash_left li a:link{
    text-decoration:none;
}

.user_info{
    width:770px;
    height:800px;
    margin-top:10px;
    float:right;
    border-radius:10px;
    background-color:rgba(250, 250, 250, 1);
}

#base_info{
    margin-top:10px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
}

.info_title{
    width:680px;
    height:30px;
    line-height:30px;
    font-size:18px;
    color:#2f96b4;
    border-bottom-color:rgba(200, 200, 200, 0.6);
    border-bottom-style:solid;
    border-bottom-width:1px;
}

#contact_info{
    width:700px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

.info_content div{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:600px;
}

.username{
    margin-top:15px;
    width:600px;
}

.real_name{
    margin-bottom:20px;
}

.input-prepend .add-on{
    width:70px;
    text-align:left;
}

div .gender{
    margin-top:15px;
    height:30px;
    margin-left:200px;
}
.pre_span{
    float:left;
    margin-left:0;
    margin-right:-1px;
    background-color:#eee;
    border:1px solid #ccc;
    height:20px;
    line-height:20px;
    padding:4px 5px;
    font-size:14px;
    width:70px;
    border-radius:4px 0 0 4px;
    text-align:left;
}

.gender div{
    width:62px;
    height:20px;
    line-height:20px;
    padding:4px 5px;
    border:1px solid #ccc;
    float:left;
    margin-right:-1px;
    cursor:default;
}

.gender div:last-child{
    border-radius:0 4px 4px 0;
}

.gender div:hover{
    background-color:#60d6a7;
}

div .birthday{
    height:30px;
    margin-left:200px;
    margin-top:15px;
}

.birthday .i1{
    float:left;
    width:34px;
    border-radius:0;
    margin-right:-1px;
}

.birthday .i0{
    float:left;
    width:25px;
    border-radius:0;
    margin-right:-1px;
    margin-left:-1px;
}

.birthday .lab_span{
    float:left;
    width:21px;
    height:20px;
    margin-left:0;
    padding:4px 5px;
    background-color:#eee;
    border:1px solid #ccc;
}

.birthday .lab_span:last-child{
    border-radius:0 4px 4px 0;
}

.save_info_div{
    display:block;
    width:200px;
    height:30px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
}
