{% extends "base.html" %}
{% block css_header %}
<link rel="stylesheet" href="/static/style/home.css"/>
{% end %}
{% block js_header %}
<script type="text/javascript" src="/static/js/home.js"></script>
{% end %}
{% block body %}
<div class="container">
    <div class="dash_left" id="dash_left">
        <div class="user_dash">
            <div class="user_profile">
                <div class="user_gravatar">
                    <image src="/image/5237068479ed331497f56226" />
                </div>
            </div>
            <div class="u_info">
                <div class="user_name">sking</div>
                <div class="u_num">
                    <div class="dot_num">
                        <div class="num"><strong>0</strong></div>
                        <div class="desc">生命点</div>
                    </div>
                    <div class="friend_num">
                        <div class="num"><strong>0</strong></div>
                        <div class="desc">朋友</div>
                    </div>
                </div>
            <ul class="dash_user_nav">
            </ul>
            </div>
        </div>
        <div class="dash_global">
            <ul class="global_ul">
                <li>
                    <a href="#">公众</a>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#">关注者</a>
                    <i class="icon-chevron-right"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="lifeline">
        <div class="new_post">
            <textarea id="new_post_text" placeholder="发布新的生命点..."></textarea>
            <div class="post_info">
                <div class="post_div">图片</div>
                <div class="post_div">位置</div>
                <div class="post_div">隐私</div>
                <button class="btn btn-primary">发布</button>
                <div class="word_num">0</div>
            </div>
        </div>
        <div class="line_content">
            <div class="line_element">
                <div class="time_div">
                    <span class="send_hours">10:52:30</span>
                    <span class="send_days">20/09/2013</span>
                </div>
                <div class="line_gravatar">
                </div>
                <div class="content">
                    <a class="name"></a>
                </div>
                <div class="line_foot">
                    <div class="element_info">
                        <div class="like_info" like="0">
                            <i class="icon-heart-empty"></i>
                            <span>0</span>
                        </div>
                        <div class="comment_info" click='0'>
                            <i class="icon-comments-alt"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="show_comments">
                        <div class="send_comment_div">
                            <div class="comment_gra"></div>
                            <textarea id="write_comment" placeholder="发表回复..."></textarea>
                            <button id="comment_btn" class="btn btn-primary">回复</button>
                        </div>
                        <div class="comment_list">
                            <div class="comment">
                                <div class="comment_gra"></div>
                                <div class="comment_content">
                                    <a>sking</a>
                                    <span>这是一个测试</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
