<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/style/login.css"/>
        <script type="text/javascript" src="/static/js/lib/md5.js"></script>
        <script type="text/javascript" src="/static/js/lib/json2.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/static/js/login.js"></script>
    </head>
    <body>
        <div id="header" class="header">
            <div id="header_title" class="header_title">LifeLine</div>
            <div id="header_btn" class="btn" login_type='0'>注册</div>
        </div>
        <div id="content">
            <div id="login_div" class="login_div">
                <div class="input_wrap" id="email_wrap">
                    <input id="email" type="email" placeholder="邮箱">
                </div>
                <div class="input_wrap">
                    <input id="name" type="text" placeholder="用户名">
                </div>
                <div class="input_wrap">
                    <input id="passwd" type="password" placeholder="密码">
                </div>
                <div id="login_label" class="login_label">
                    <div id="check_text">记住我</div>
                    <div id="login_btn" class="btn">登录</div>
                </div>

                <div id="login_status"></div>
            </div>
        </div>
    </body>
</html>
