<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/style/lib/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style/login.css"/>
        <script type="text/javascript" src="/static/js/lib/md5.js"></script>
        <script type="text/javascript" src="/static/js/lib/json2.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/static/js/login.js"></script>
    </head>
    <body>
        <button id="header_btn" class="btn btn-primary" type="button" login_type='0'>注册</button>
        </div>
        <div id="content">
            <div id="login_div" class="login_div">
                <div class="login_input input-prepend" id="email_div">
                    <span class="add-on">邮箱</span>
                    <input id="email" type="email">
                </div>
                <div class="login_input input-prepend">
                    <span class="add-on">用户名</span>
                    <input id="name" type="text">
                </div>
                <div class="login_input input-prepend">
                    <span class="add-on">密码</span>
                    <input id="passwd" type="password">
                </div>
                <div id="login_label" class="login_label">
                    <div id="keep_in" class="keep_in">
                        <div  id="check_icon" check='0'><i class="icon-check-empty"></i></div>
                        <div id="check_text">记住我</div>
                    </div>
                    <button id="login_btn" class="btn btn-primary">登录</button>
                </div>

                <div id="login_status"></div>
            </div>
        </div>
    </body>
</html>
