<!DOCTYPE html>
{% extends "base.html" %}
{% block css_header %}
<link rel="stylesheet" href="/static/style/imgareaselect-default.css" />
<link rel="stylesheet" href="/static/style/profile.css" />
{% end %}

{% block js_header %}
<script type="text/javascript" src="/static/js/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.imgareaselect.min.js"></script>
<script type="text/javascript" src="/static/js/profile.js"></script>
{% end %}

{% block body %}
<div class="container">
    <div class="dash_left" id="dash_left">
        <div class="user_dash">
            <div class="user_profile">
                <div class="user_gravatar">
                    <image src="/image/5237068479ed331497f56226" />
                </div>
            </div>
            <div class="u_info">
                <div class="user_name">sking</div>
                <div class="u_num">
                    <div class="dot_num">
                        <div class="num"><strong>0</strong></div>
                        <div class="desc">lifeDot</div>
                    </div>
                    <div class="friend_num">
                        <div class="num"><strong>0</strong></div>
                        <div class="desc">朋友</div>
                    </div>
                </div>
                <ul class="dash_user_nav">
                    <li id="profile_base">
                        <a href="#">基本信息</a>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li id="profile_passwd">
                        <a href="#">密码</a>
                        <i class="icon-chevron-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="user_info">
        <div id="base_info">
            {% include "profile_base.html" %}
        </div>
    </div>
</div>
{% end %}
