<!DOCTYPE html>
{% extends "base.html" %}
{% block css_header %}
<link rel="stylesheet" href="/static/style/profile.css" />
{% end %}

{% block js_header %}
{% end %}

{% block body %}
<div class="container">
    <div class="dash_left" id="dash_left">
        <div class="user_dash">
            <div class="user_profile">
                <div class="user_gravatar">
                    <image src="/image/5237068479ed331497f56226" />
                </div>
            </div>
            <div class="u_info">
                <div class="user_name">sking</div>
                <div class="u_num">
                    <div class="dot_num">
                        <div class="num"><strong>0</strong></div>
                        <div class="desc">lifeDot</div>
                    </div>
                    <div class="friend_num">
                        <div class="num"><strong>0</strong></div>
                        <div class="desc">朋友</div>
                    </div>
                </div>
                <ul class="dash_user_nav">
                    <li>
                        <a href="#">基本信息</a>
                        <i class="icon-chevron-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="user_info">
        <div id="base_info">
            <div class="info_title">修改基本信息</div>
            <div class="info_content">
                <div class="gra">
                </div>
                <div class="username input-prepend">
                    <span class="add-on">用户昵称</span>
                    <input id="username" type="text">
                </div>
                <div class="real_name input-prepend">
                    <span class="add-on">真实姓名</span>
                    <input id="realname" type="text">
                </div>
                <div class="passwd">
                    <div class="old_passwd input-prepend">
                        <span class="add-on">原始密码</span>
                        <input id="old_passwd" type="password" placeholder="无需修改则不填">
                    </div>
                    <div class="new_passwd input-prepend">
                        <span class="add-on">新密码</span>
                        <input id="new_passwd" type="password" placeholder="请输入新密码">
                    </div>
                </div>

                <div class="gender">
                    <span class="pre_span">性别</span>
                    <div class="male">男</div>
                    <div class="female">女</div>
                    <div class="unknown">未知</div>
                </div>
                <div class="birthday">
                    <span class="pre_span">生日</span>
                    <input class="i1" type="text">
                    <span class="lab_span">年</span>
                    <input class="i0" type="text">
                    <span class="lab_span">月</span>
                    <input class="i0" type="text">
                    <span class="lab_span">日</span>
                </div>
            </div>
            <button class="save_info_div btn btn-primary">保存</button>
        </div>
    </div>
</div>
{% end %}
