<div class="info_title">修改基本信息</div>
<div class="info_content">
    <div class="gra">
        <img class="gra_show" />
        <button class="btn btn-primary">更改头像</button>
        <form>
            <input type="hidden" name="x1" value="" />
            <input type="hidden" name="y1" value="" />
            <input type="hidden" name="x2" value="" />
            <input type="hidden" name="y2" value="" />
            <input type="file" name="image" id="upload" />
        </form>
        <a id="modal_link" rel="leanModal" name="change_size" href="#change_size"></a>
    </div>
    <div class="username input-prepend">
        <span class="add-on">用户昵称</span>
        <input id="username" type="text">
    </div>
    <div class="real_name input-prepend">
        <span class="add-on">真实姓名</span>
        <input id="realname" type="text">
    </div>

    <div class="gender">
        <span class="pre_span">性别</span>
        <div class="male">男</div>
        <div class="female">女</div>
        <div class="unknown">未知</div>
    </div>
    <div class="birthday">
        <span class="pre_span">生日</span>
        <input class="i1" type="text">
        <span class="lab_span">年</span>
        <input class="i0" type="text">
        <span class="lab_span">月</span>
        <input class="i0" type="text">
        <span class="lab_span">日</span>
    </div>
</div>
<button id="base_save" class="save_info_btn btn btn-primary">保存</button>

<div id="change_size">
    <div id="change_size_header">
        <span class="header_title">编辑头像</span>
        <a class="modal_close" href="#"></a>
    </div>
    <img class="pic_show" />
    <div class="gra_preview">
        <div class="preview_box">
            <img style="position:relative;" id="preview" />
        </div>
    </div>
    <button id="upload_gra" class="save_gra btn btn-primary">应用</button>
</div>
