<!DOCTYPE html>
{% extends "base.html" %}
{% block css_header %}
<link rel="stylesheet" href="/static/style/lib/imgareaselect-default.css" />
<link rel="stylesheet" href="/static/style/profile.css" />
{% end %}

{% block js_header %}
<script type="text/javascript" src="/static/js/lib/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.imgareaselect.min.js"></script>
<script type="text/javascript" src="/static/js/lib/json2.js"></script>
<script type="text/javascript" src="/static/js/lib/md5.js"></script>
<script type="text/javascript" src="/static/js/profile.js"></script>
{% end %}

{% block body %}
<div class="container">
    <div class="dash_left" id="dash_left">
        <div class="user_dash">
            <div class="user_profile">
                <div class="user_gravatar">
                {% if user_info.get("gravatar") %}
                    <image id="dash_gra" src="/image/{{ user_info.get("gravatar") }}" />
                {% else %}
                    <image id="dash_gra" src="/static/img/photo.jpg" />
                {% end %}
                </div>
            </div>
            <div class="u_info">
                <div class="user_name">{{ user_info.get("user_name") }}</div>
                <div class="u_num">
                    <div class="dot_num">
                        <div class="num"><strong>{{ user_info.get("dot_num") }}</strong></div>
                        <div class="desc">lifeDot</div>
                    </div>
                    <div class="friend_num">
                        <div class="num"><strong>{{ user_info.get("friend_num") }}</strong></div>
                        <div class="desc">朋友</div>
                    </div>
                </div>
                <ul class="dash_user_nav">
                    <li id="profile_base">
                        <a href="#">基本信息</a>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li id="profile_passwd">
                        <a href="#">密码</a>
                        <i class="icon-chevron-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="user_info">
        <div id="base_info">
            {% include "profile_base.html" %}
        </div>
    </div>
</div>
{% end %}
