<div class="info_title">修改密码</div>
<div class="info_content">
    <div class="passwd">
        <div class="input-prepend">
            <span class="add-on">旧密码</span>
            <input id="old_passwd" type="password" placeholder="请输入旧密码">
        </div>
        <div class="input-prepend">
            <span class="add-on">新密码</span>
            <input id="new_passwd" type="password" placeholder="请输入新密码">
        </div>
        <div class="input-prepend">
            <span class="add-on">新密码</span>
            <input id="new_passwd_2" type="password" placeholder="请再次输入新密码">
        </div>
    </div>
</div>
<button id="passwd_save" class="save_info_btn btn btn-primary">保存</button>

